
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewExitoDepartamentos</title>
</head>
<body>

    <h1>Gestión Departamentos</h1>
    <h2 style="color:green">Cambios realiazados con exito!!</h2>
    Detalles de los cambios realizados: Numero de modificaciones realizadas: @ViewBag.NumCambios
    <br />
    @Html.ActionLink("Inicio Departamentos", "Index", "Departamentos")
</body>

</html>
