
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewExitoPersonas</title>
</head>
<body>
    <h1>Gestión Personas</h1>
    <h2 style="color:green">Cambios realiazados con exito!!</h2>
    Detalles de los cambios realizados: Numero de campos modificados @ViewBag.NumCambios
    <br />
    @Html.ActionLink("Inicio Personas", "Index", "Personas")
</body>
</html>
