
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CambiosRealizados</title>
    Cambios realizados con exito: @ViewBag.cambiosRealizados
    @Html.ActionLink("Página principal", "CamiosRealizados", "ClsPersonaDepartamentos");
</head>
<body>
</body>
</html>
