@model CRUD_Personas_UI_ASP.Models.ClsPersonaDepartamentos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    Rellene los campos para crear una persona nueva.
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">

                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Apellidos" class="control-label"></label>
                    <input asp-for="Apellidos" class="form-control" />
                    <span asp-validation-for="Apellidos" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Direccion" class="control-label"></label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Foto" class="control-label"></label>
                    <input type="file" name="imagen" class="form-control" asp-for="Foto" accept=".png, .jpg">
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="FechaNacimiento" class="control-label"></label>
                    <input asp-for="FechaNacimiento" value="@DateTime.Now" class="form-control" />
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <!--TODO buscar como se hace el select con los helpers de Razor-->
                    <select name="IdDepartamento">
                        @{
                            foreach (CRUD_Personas_Entidades.ClsDepartamento departamento in Model.ListaDepartamentos)
                            {
                                <option value="@departamento.ID">@departamento.Nombre</option>
                            }

                        }
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>
