
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewNotFoundPersonas</title>
</head>
<body>
    <h1>404.Error. Algo salio mal!</h1>
    <h3>Gestión Personas</h3>
    Detalles del error: @ViewBag.Mensaje
    @Html.ActionLink("Inicio Personas", "Index", "Personas")
</body>
</html>
