
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewNotFoundDepartamentos</title>
</head>
<body>
    <h1>404.Error. Algo salio mal!</h1>
    Detalles del error: @ViewBag.Mensaje
    @Html.ActionLink("Inicio Departamentos", "Index", "Departamentos")
</body>

</html>
